body {
  background-color: whitesmoke;
  color: #333333;
  margin: 0px;
}

header {
  position: fixed;
  width: 100%;
  z-index: 9;
  padding: 0px;
  margin: 0px;
  margin-bottom: 60px;
}

nav {
  overflow: hidden;
  display: flex;
  height: 60px;
  padding: 0px;
  margin: 0px;
  background-color: #161616;
}

nav > a {
  list-style-type: none;
  overflow: hidden;
  justify-content: center;
  text-decoration: none;
  color: white;
  padding: 20px 23px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
/* -------------LINKS NG NAVIGATION----------- */
a:hover {
  background-color: #5f5f5f;
}

.currentPage {
  background-color: #06bdcf;
}

/* ----------------- LEFT CONTAINER ------------------ */

/* -BUONG CYAN LEFT- */
.left {
  margin-top: 0px;
  float: left;
  background-color: #06bdcf;
  width: 23.5%;
  height: 243.6%;
  position: absolute;
  z-index: 5;
}

/* CONTACT INFO CONTAINER */
.contact {
  margin-top: 383px;
  margin-left: 30px;
}

/* MGA WHITE TITLES SA LEFT CYAN */
.leftTitle {
  font-family: Arial;
  color: whitesmoke;
}

/* HORIZONTAL WHITE DIVIDERS SA LEFT  */
.leftDivider {
  height: 3px;
  background-color: whitesmoke;
  border: none;
}

/* CONTAINER NG ICONS NG CONTACTS */
.contactIcons {
  float: left;
}

/* ID NG SPECIFIC CONTACT INFO */
#c_location {
  margin-top: 15px;
  margin-left: 1px;
  width: 20px;
  height: auto;
  filter: invert(100%) brightness(150%);
}

#c_phone {
  margin-top: 65px;
  margin-left: 3px;
  width: 18px;
  height: auto;
  filter: invert(100%) brightness(150%);
}

#c_email {
  margin-top: 48px;
  width: 25px;
  height: auto;
  filter: invert(100%) brightness(150%);
}

#c_website {
  margin-top: 58px;
  width: 25px;
  height: auto;
  filter: invert(100%) brightness(150%);
}

/* CONTAINER NG MISMONG CONTACT INFO */
.contactInfo {
  font-family: Arial;
  font-weight: lighter;
  font-size: 15px;
  color: whitesmoke;
  margin-top: 15px;
  margin-left: 40px;
}

/* ID NG EMAIL AT LINKEDIN */
#email,
#link {
  color: whitesmoke;
  text-decoration: none;
  font-size: 14px;
}

#email:hover,
#email:active,
#link:hover,
#link:active {
  color: whitesmoke;
  text-decoration: none;
}

/* ID NG CONTACT NA HINIHINGI EX: PHONE, ADD, WEBSITE, ETC. */
#contactHead {
  font-size: 17px;
  line-height: 30px;
}

#link {
  font-size: 15px;
}

/* CONTAINER NG SKILLS INFO */
.skills {
  margin-top: 50px;
  margin-left: 30px;
}

/* SKILL TITLES CONTAINER EX: PHOTOSHOP, INDESIGN, HTML5 */
.skillTitle {
  float: left;
  width: fit-content;
  margin-left: 8px;
  margin-right: 10px;
}

.skillTitle > p {
  font-family: Arial;
  font-weight: lighter;
  font-size: 15px;
  color: whitesmoke;
}

/* ID NG PICTURES NG SKILLMETER */
#s_photoshop {
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 2px;
  width: 50%;
  height: 14px;
}

#s_illustrator {
  margin-top: 4px;
  margin-bottom: 10px;
  margin-left: 2px;
  width: 50%;
  height: 14px;
}

#s_indesign {
  margin-top: 4px;
  margin-bottom: 10px;
  margin-left: 2px;
  width: 50%;
  height: 14px;
}

#s_msOffice {
  margin-top: 4px;
  margin-bottom: 10px;
  margin-left: 2px;
  width: 50%;
  height: 14px;
}

#s_html5 {
  margin-top: 4px;
  margin-bottom: 10px;
  margin-left: 2px;
  width: 50%;
  height: 14px;
}

#s_css {
  margin-top: 4px;
  margin-bottom: 10px;
  margin-left: 2px;
  width: 50%;
  height: 14px;
}

/* CONTAINER NG INTERESTS  */
.interests {
  font-family: Arial;
  font-weight: lighter;
  font-size: 15px;
  line-height: 24px;
  color: whitesmoke;
  margin-top: 50px;
  margin-left: 30px;
}

.interests > ul {
  list-style-type: none;
  margin-left: 0px;
}

/* CONTAINER NG LISTS NG INTERSTS*/
.listInterest > li::before {
  content: "•";
  font-size: 2em;
  color: whitesmoke;
  padding-right: 10px;
  vertical-align: bottom;
}

/* ------------------------- RIGHT CONTAINER -------------------------- */
/* CONTAINER NG PICTURE, NAME, YEAR, STUDENT ETC. */
.intro {
  margin-left: 35px;
  margin-top: 80px;
}

.name > hr {
  border-top: 15px solid #203142;
}

#surname {
  font-family: Montserrat;
  color: #06bdcf;
}

.name > h1 {
  font-family: Arial;
  margin-top: 68px;
}

.name > h3 {
  font-family: Arial;
  font-weight: lighter;
  margin-bottom: 68px;
}

.name {
  margin-top: 8px;
}

.dp {
  float: left;
  margin-right: 15px;
  border-style: solid;
  border-width: 15px;
  border-color: whitesmoke;
  background-color: whitesmoke;
}

/* CONTAINER NG PIC AND NAME NI PRONGGI */
.picName {
  margin-left: 200px;
  position: relative;
  z-index: 7;
}

/* ----------------- rightTitleation -------------------- */
/* TITLES SA RIGHT EX: EDUCATIONAL BG, SEMINARS EME */
.rightTitle {
  margin-left: 23%;
  margin-right: 2%;
  font-family: Arial;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 40px;
  padding-bottom: 50px;
}

/* HORIZONTAL CYAN DIVIDERS SA RIGHT */
.rightDivider {
  height: 3px;
  background-color: #0a8c8e;
  border: none;
}

/* CONTAINER NG MGA DATA SA LEFT NG TABLE EX: YEAR */
.tblLeft {
  float: left;
  width: 200px;
  height: 75px;
  line-height: 45px;
  text-align: left;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

/* CONTAINER NG MGA DATA SA MID NG TABLE EX: DEGREE, SCHOOL, ORGANIZERS, ETC. */
.tblMid {
  float: left;
  width: 45%;
  height: 4%;
  line-height: 45px;
  text-align: left;
  padding: 20px;
  padding-right: 80px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 7px;
}

.tblMid p {
  /*align for multiple lines*/
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}

/* CONTAINER NG MGA DATA SA RIGHT NG TABLE EX: SCHOOL LOGO, ETC; */
.tblRight1 img{
  margin-top: 32px;
}

.tblRight2 img{
  margin-top: 30px;
}

.tblRight3 img{
  margin-top: 15px;
}

.tblRight > img {
  float: right;
}

.inline-block-child {
  display: inline-block;
}

/* CONTAINER NG BUONG TABLE */
.container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

/* HORIZONTAL CYAN DIVIDER BEFORE FORM */
#formDivider {
  margin-left: -50%;
  height: 5px;
  background-color: #06bdcf;
  border: none;
}
/* BUONG FORM */
.formFooter {
  margin-left: 23%;
  margin-right: 0;
  padding-left: 60px;
  background-color: #161616;
  height: 280px;
}
/* SEND ME A MESSAGE */
#formHead {
  color: whitesmoke;
}

#submitButton {
  color: whitesmoke;
  background-color: #06bdcf;
  border: 0px;
  padding: 12px 20px;
  border-radius: 5px;
}

/* EMAIL AND MESSAGE , TEXTBOX */
#messageForm {
  margin-left: 15px;
}

/* EMAIL TEXTBOX */
#emailForm {
  margin-left: 10px;
}

#message,
#emailForm {
  background: white;
  font-family: Roboto;
  border-radius: 4px;
  padding: 6px;
}

#submitButton:hover {
  color: whitesmoke;
  background-color: #07a9b8;
  cursor: pointer;
}

/* NOTE SA BABA */
#formNote {
  margin-left: -2%;
  color: whitesmoke;
}

label {
  color: white;
  font-size: medium;
  padding: 2px 5px;
}

/* ------------------------CERTIFICATES--------------------------- */
/* .right {
  position: fixed;
} */

/* CONTAINER NUNG BUONG MENU */
.leftNav {
  margin-top: 100px;
  margin-left: 20px;
  /* position: fixed; */
}

#certMenu {
  position: fixed;
}

/* 
CONTAINER NUNG LIST OF ORGANIZERS AND SUB-CERTIFICATES*/
.organizer > ul,
a {
  color: whitesmoke;
  font-family: Arial;
  font-size: 15px;
  line-height: 22px;
  text-decoration: none;
}
/* YUNG MISMONG ORGANIZER LANG NA SEMIBOLD */
#orgName {
  font-weight: 550;
}

.certContents {
  margin-left: 25%;
  padding-top: 5.5%;
  overflow: hidden;
}

.certContents > div > div > img {
  width: 385px;
  margin-bottom: 15px;
  border: 1px solid #161616;
}

.certContents > div > p {
  padding-left: 2.5%;
  padding-right: 20%;
  margin-bottom: 30px;
}

.certImg {
  text-align: center;
}

.certContents > div {
  align-content: center;
}

.exceed > h2 {
  margin-top: 10px;
}

.orgName {
  margin-top: 50px;
}

/* --------------------------PROJECTS------------------------- */

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 5px;
}
